<h3 class="quiz-header" {{action 'toggleQuizDetail'}}>{{quiz.title}}</h3>

{{question-list/question-form createQuestion='createQuestion'}}

<ul>
  {{#each quiz.questions as |question|}}
    {{question-list/question
      question=question
      toggleQuestionDone='toggleQuestionDone'
      deleteQuestion='deleteQuestion'
    }}
  {{/each}}
</ul>
