@import 'bootstrap';
@import 'bootstrap/theme';
@import 'color';
@import 'font';

body {
  background-color: $background;
  color: $body-text;
}

.header, body {
    font-family: 'Merriweather Sans', sans-serif;
}

.content {
  border: 1px dashed $border;
  border-radius: 5px;
}

a:link {
  color: $border;
}

a:hover {
  color: #fff;
}

.QuizBtn {
  color: #fff;
  background-color: lightblue;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tQuiz td {
  padding-right: 3em;
}
