<h1>{{model.quiz.title}}</h1>

<div>
  <h4>Add a question:</h4>
  {{create-question-form quiz=model.quiz.id createQuestion='createQuestion'}}
</div>
<br>
<br>
{{#link-to 'quizzes'}}All Quizzes{{/link-to}}
