<h4>Quizzes</h4>

<ul>
{{#each model as |quiz|}}
  <li>{{#link-to 'quiz' quiz}} {{quiz.title}} {{/link-to}}</li>
  <!--{{list-title list=list deleteList='deleteList'}}-->
  <!--{{list-title-update list=list updateList='updateList'}}-->
{{/each}}
</ul>
