<h2>Quizzes</h2>

<p>{{#link-to 'create-quiz'}}<b>Create a quiz</b>{{/link-to}}
or play a quiz already created below.</p>

<ul>
{{#each model as |quiz|}}
  <li>
    {{#link-to 'quiz' quiz}} {{quiz.title}} {{/link-to}}
    <button {{action 'deleteQuiz' quiz}}>Delete Quiz</button>
  </li>
{{/each}}
</ul>
