<h4>Quizzes</h4>

{{quiz-form createQuiz='createQuiz'}}

<ul>
{{#each model as |quiz|}}
  <li>
    {{#link-to 'quiz' quiz}} {{quiz.title}} {{/link-to}}
    <button {{action 'deleteQuiz' quiz}}>Delete Quiz</button>
  </li>
{{/each}}
</ul>
